<h2>New Instructor</h2>
<%= form_for @instructor, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
   
  <div class="card">
  <div class="card-header">
    New Instructor
  </div>
  <li class="list-group-item">
      <%= f.label :first_name%><br>
    <%= f.text_field :first_name %>
    </li>
    <li class="list-group-item">
    <%= f.label :last_name%><br>
    <%= f.text_field :last_name %>
    </li>
    <li class="list-group-item">
    <%=f.label :email%><br>
    <%= f.text_field :email %>
    </li>
    
    <li class="list-group-item">
    <%= f.label :age%><br>
    <%= f.number_field :age %>
    </li>

    <li class="list-group-item">
    <%= f.label :salary%><br>
    <%= f.number_field :salary %>
    </li>
    
    
    <li class="list-group-item">
    <%= f.label :level_of_education%><br>
    <%= f.select(:level_of_education) do %>
        <% [['High School ', 'High School'], ['College', 'College'], ['Masters', 'Masters'], ['PHD', 'PHD']].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
      </li>

      <li class="list-group-item">
    <%= f.label :cohort%><br>
    <%= f.select(:cohort_id) do %>
      <% @cohorts.each do |cohort| %>      
          <%= content_tag(:option, cohort.name, value: cohort.id) %>
        <% end %>
      <% end %>
      </li>
      </ul>
   

<div class="button">
    <%= f.submit "Create" %>
    </div>
  <% end %>
  </div>
 