
<link href="https://fonts.googleapis.com/css?family=Alegreya+SC|Rasa" rel="stylesheet">
<div class="background">
</div>
<div class="card">
<h1>Users#new</h1>
<% if @errors %>
<div class="errors">
<% @errors.each do |error| %>
  <p><%= error %></p>
  <% end %>
  </div>
<% end %>
<div class="userscontainer">
<%= form_for @user, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
    
      <div class="firstname">
      <%= f.label :first_name%><br>
    <%= f.text_field :first_name %>
    </div>
    <div class="lastname">
    <%= f.label :last_name%><br>
    <%= f.text_field :last_name %>
    </div>
    <div class="email">
    <%=f.label :email%><br>
    <%= f.text_field :email %>
    </div>
    <div class="password">
    <%=f.label :password%><br>
    <%= f.password_field :password %>
    </div>
    <div class="confirm_password">
    <%=f.label :password_confirmation%><br>
    <%= f.password_field :password_confirmation %>
    </div>
   

<div class="button">
    <%= f.submit "Create" %>
    </div>
  <% end %>
  </div>
  </div>
