<h1>Courses#new</h1>
<h1>New Courses</h1>
<div class="container">
<%= form_for @course, url: {action: "new"}, html: {class: "nifty_form"} do |f| %>
    <%= f.label :name%><br>
    <%= f.text_field :name %>
    <%= f.label :start_time%><br>
    <%= f.time_field :start_time %>
    <%= f.label :end_time%><br>
    <%= f.time_field :end_time %>
    
   

<div class="submit">
    <%= f.submit "Create" %>
    </div>
  <% end %>
</div>
